#clock {
    width: 455px;
    padding: 40px;
    position: relative;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
    border-radius: 73px;
    margin-top: 5%;
}

.bodyclock {
    background-color: lightblue;
}
#clock .display {
    text-align: center;
    padding: 20px 20px 20px;
    border-radius: 6px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    width: 375px;
    height: 100px;
    -webkit-box-shadow: 0 0 11px 0px #000 inset;
}

#clock .meridiem div {
    width: 10px;
    height: 10px;
    position: relative;
    float: right;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: -20px;
    font-family: monospace;
    font-size: 15px;
}

.alarmicon {
    position: absolute;
    margin-top: 37px;
    text-align: center;
    width: 18px;
    height: 18px;
}

#clock .digits div span {
    background-color: black;
    border-color: black;
}

#clock .digits div span {
    opacity: 0;
    position: absolute;
}

.weekdays {
    font-family: monospace;
    padding: 0 0 18px 0;
    padding-top: 3px;
    width: 375px;
    align-content: center;
}

.day {
    padding: 7px;
    color: darkgray;
}

/*.l1:before{	border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}*/

#clock .digits div span:before,
#clock .digits div span:after{
    content:'';
    position:absolute;
    width:0;
    height:0;
    border:5px solid transparent;
}

#clock .digits .l1 {
    height: 5px;
    width: 15px;
    top: 0;
    left: 5px;
    border-width: 0 0 5px 5px;
}

#clock .digits .l1::before{
    border-width:0 5px 5px 0;
    border-right-color:inherit;
    left:-5px;
}

#clock .digits .l1::after{
    border-width:0 0 5px 5px;
    border-left-color:inherit;
    right:-5px;
}

#clock .digits .l2 {
    height: 5px;
    width: 15px;
    top: 24px;
    left: 5px;
}

#clock .digits .l2::before{
    border-width: 3px 5px 2px 0;
    border-right-color: inherit;
    left: -5px;
}

#clock .digits .l2::after{
    border-width: 2px 1px 3px 4px;
    border-left-color: inherit;
    right: -5px;
}

#clock .digits .l3 {
    height: 5px;
    width: 15px;
    top: 48px;
    left: 5px;
}

#clock .digits .l3::before{
    border-width:5px 5px 0 0;
    border-right-color:inherit;
    left:-5px;
}

#clock .digits .l3::after{
    border-width: 5px 0 0 5px;
    border-left-color:inherit;
    right:-5px;
}

#clock .digits .l4 {
    height: 17px;
    width: 5px;
    top: 6px;
    left: 0px;
}

#clock .digits .l4::before{
    border-width: 5px 5px 0 0;
    border-top-color: inherit;
    top: 17px;
    left: 0;
}

#clock .digits .l4::after{
    border-width: 5px 0 0 5px;
    border-left-color: inherit;
    top: -5px;
}

#clock .digits .l5 {
    height: 17px;
    width: 5px;
    top: 6px;
    right: 0px;
}

#clock .digits .l6 {
    height: 17px;
    width: 5px;
    top: 29px;
    left: 0px;
}

#clock .digits .l7 {
    height: 18px;
    width: 4px;
    top: 29px;
    right: 0px;
}

#clock .digits div {
    text-align: left;
    position: relative;
    width: 25px;
    height: 52px;
    display: inline-block;
    margin: 0 4px;
}

#clock .digits .c1 {
    height: 4px;
    width: 4px;
    top: 6px;
    right:0px;
}

#clock .digits .c2 {
    height: 4px;
    width: 4px;
    top: 30px;
    right:0px;
}

.alarmDiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 386px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}

.chosent-select {
    width: 75px;
}

.saveAlarm {
    padding: 6px;
}

.stopAlarm {
    padding: 6px;
}

/*num-0*/
#clock .digits div.num-0 .l1,
#clock .digits div.num-0 .l3,
#clock .digits div.num-0 .l4,
#clock .digits div.num-0 .l5,
#clock .digits div.num-0 .l6,
#clock .digits div.num-0 .l7 {
    opacity: 1;
}

/*num-1*/
#clock .digits div.num-1 .l5,
#clock .digits div.num-1 .l7 {
    opacity: 1;
}
/*num-1*/
#clock .digits div.num-2 .l1,
#clock .digits div.num-2 .l2,
#clock .digits div.num-2 .l3,
#clock .digits div.num-2 .l5,
#clock .digits div.num-2 .l6 {
    opacity: 1;
}

/*num-3*/
#clock .digits div.num-3 .l1,
#clock .digits div.num-3 .l2,
#clock .digits div.num-3 .l3,
#clock .digits div.num-3 .l5,
#clock .digits div.num-3 .l7 {
    opacity: 1;
}

/*num-4*/
#clock .digits div.num-4 .l2,
#clock .digits div.num-4 .l4,
#clock .digits div.num-4 .l5,
#clock .digits div.num-4 .l7 {
    opacity: 1;
}

/*num-5*/
#clock .digits div.num-5 .l1,
#clock .digits div.num-5 .l2,
#clock .digits div.num-5 .l3,
#clock .digits div.num-5 .l4,
#clock .digits div.num-5 .l7 {
    opacity: 1;
}

/*num-6*/
#clock .digits div.num-6 .l1,
#clock .digits div.num-6 .l2,
#clock .digits div.num-6 .l3,
#clock .digits div.num-6 .l4,
#clock .digits div.num-6 .l6,
#clock .digits div.num-6 .l7 {
    opacity: 1;
}

/*num-7*/
#clock .digits div.num-7 .l1,
#clock .digits div.num-7 .l5,
#clock .digits div.num-7 .l7 {
    opacity: 1;
}

/*num-8*/
#clock .digits div.num-8 .l1,
#clock .digits div.num-8 .l2,
#clock .digits div.num-8 .l3,
#clock .digits div.num-8 .l4,
#clock .digits div.num-8 .l5,
#clock .digits div.num-8 .l6,
#clock .digits div.num-8 .l7 {
    opacity: 1;
}

/*num-9*/
#clock .digits div.num-9 .l1,
#clock .digits div.num-9 .l2,
#clock .digits div.num-9 .l4,
#clock .digits div.num-9 .l5,
#clock .digits div.num-9 .l7 {
    opacity: 1;
}

/*clock colon*/
#clock .digits div.colon .c1,
#clock .digits div.colon .c2 {
    opacity: 1;